<section class="p-1 mb-7 w-[70%] mx-auto">
  <div class="container">
    <h4 class="mt-1 font-black md:text-3xl text-[#db4444] mb-14">
      Enter your details below
    </h4>
    <form [formGroup]="orderDet" (ngSubmit)="orderDetSubmit()">
      <!--  -->
      <!-- details -->
      <!--  -->
      <div class="relative z-0 w-full mb-5 mt-4">
        <input
          type="text"
          name="floating_email"
          id="floating_email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#db4444] focus:outline-none focus:ring-0 focus:border-[#db4444] peer"
          placeholder=""
          formControlName="details"
        />
        <label
          for="floating_email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#db4444] peer-focus:dark:text-[#db4444] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >
          Details
        </label>
      </div>
      <!-- alert name  -->
      @if(orderDet.get('details')?.errors &&orderDet.get('details')?.touched){
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
        role="alert"
      >
        <svg
          class="flex-shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        @if(orderDet.get('details')?.getError('required')){
        <div>
          <span class="font-medium">Required Name</span>
        </div>
        }
      </div>
      }

      <!-- =============================== start phone  ===================================== -->
      <div class="relative z-0 w-full mb-5">
        <input
          type="text"
          name="repeat_password"
          id="floating_repeat_password"
          class="block py-2.5 px-0 w-full text-sm text-gray-[#db4444] bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#db4444] focus:outline-none focus:ring-0 focus:border-[#db4444] peer"
          placeholder=" "
          formControlName="phone"
        />
        <label
          for="floating_repeat_password"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#db4444] peer-focus:dark:text-[#db4444] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >
          Phone Number
        </label>
      </div>
      <!-- alert password -->
      @if(orderDet.get('phone')?.errors &&orderDet.get('phone')?.touched){
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
        role="alert"
      >
        <svg
          class="flex-shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        @if(orderDet.get('phone')?.getError('required')){
        <div>
          <span class="font-medium">Required phone</span>
        </div>
        } @else if (orderDet.get('phone')?.getError('pattern')) {
        <div>
          <span class="font-medium"> Enter valid phone</span>
        </div>
        }
      </div>
      }
      <!-- =============================== End phone  ===================================== -->

      <!-- =============================== start city  ===================================== -->
      <div class="relative z-0 w-full mb-5 mt-4">
        <input
          type="text"
          name="floating_email"
          id="floating_email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#db4444] focus:outline-none focus:ring-0 focus:border-[#db4444] peer"
          placeholder=""
          formControlName="city"
        />
        <label
          for="floating_email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#db4444] peer-focus:dark:text-[#db4444] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >
          city
        </label>
      </div>
      <!-- alert name  -->
      @if(orderDet.get('city')?.errors &&orderDet.get('city')?.touched){
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
        role="alert"
      >
        <svg
          class="flex-shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        @if(orderDet.get('city')?.getError('required')){
        <div>
          <span class="font-medium">Required Name</span>
        </div>
        }
      </div>
      }
      <!-- =============================== End city  ===================================== -->
    </form>
    <button
      routerLink="/orders"
      (click)="orderDetSubmit()"
      type="submit"
      [ngClass]="{
        'bg-[#db4444] hover:bg-[#c03c3c]': !orderDet.invalid,
        'bg-gray-400 cursor-not-allowed': orderDet.invalid
      }"
      class="rounded-full py-4 px-6 bg-[#db4444] text-white font-semibold text-lg w-full text-center transition-all duration-500 hover:text-black"
    >
      CheckOut
    </button>
  </div>
</section>
