<footer class="bg-black text-center">
  <div class="mx-auto w-full max-w-screen-xl">
    <div
      class="grid grid-cols-1 gap-8 px-4 py-6 lg:py-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4"
    >
      <div>
        <h2 class="mb-6 text-sm font-semibold text-[#db4444] uppercase">
          Company
        </h2>
        <ul class="font-medium">
          <li class="mb-4">
            <a class="text-white no-underline">About</a>
          </li>
          <li class="mb-4">
            <a class="text-white no-underline">Careers</a>
          </li>
          <li class="mb-4">
            <a class="text-white no-underline">Brand Center</a>
          </li>
          <li class="mb-4">
            <a class="text-white no-underline">Blog</a>
          </li>
        </ul>
      </div>

      <div>
        <h2 class="mb-6 text-sm font-semibold text-[#db4444] uppercase dark:text-white">
          Help center
        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a class="text-white no-underline">Discord Server</a>
          </li>
          <li class="mb-4">
            <a class="text-white no-underline">Twitter</a>
          </li>
          <li class="mb-4">
            <a class="text-white no-underline">Facebook</a>
          </li>
          <li class="mb-4">
            <a class="text-white no-underline">Contact Us</a>
          </li>
        </ul>
      </div>

      <div>
        <h2 class="mb-6 text-sm font-semibold text-[#db4444] uppercase dark:text-white">
          Legal
        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a class="text-white no-underline">Privacy Policy</a>
          </li>
          <li class="mb-4">
            <a class="text-white no-underline">Licensing</a>
          </li>
          <li class="mb-4">
            <a class="text-white no-underline">Terms &amp; Conditions</a>
          </li>
        </ul>
      </div>

      <div>
        <h2 class="mb-6 text-sm font-semibold text-[#db4444] uppercase dark:text-white">
          Download
        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a class="text-white no-underline">iOS</a>
          </li>
          <li class="mb-4">
            <a class="text-white no-underline">Android</a>
          </li>
          <li class="mb-4">
            <a class="text-white no-underline">Windows</a>
          </li>
          <li class="mb-4">
            <a class="text-white no-underline">MacOS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>



